In [2]:
import pandas as pd
print("✅ Pandas:",pd.__version__)

✅ Pandas: 3.0.0

In [3]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
print("shapes", df.shape)
print("columns", df.columns)

shapes (150, 6)
columns Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='str')

In [5]:
print("df info")
print(df.info)

df info
<bound method DataFrame.info of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [6]:
# Extract a Series (single column)
species_series = df['Species']
print("species_series", species_series)

species_series 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: str

In [7]:
print("\nSeries name:", species_series.name)
print("Series dtype:", species_series.dtype)

Series name: Species
Series dtype: str

In [8]:
# Reading data with options
iris_data = pd.read_csv('Iris.csv', index_col=0)  # Use first column as index
print("Data with custom index (note, that the index is now the first column):")
iris_data

Data with custom index (note, that the index is now the first column):

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
# Reading data with options
iris_data = pd.read_csv('Iris.csv', index_col=0)  # Use first column as index
print("Data with custom index (note, that the index is now the first column):")
iris_data

Data with custom index (note, that the index is now the first column):

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
iris_sample = df.head(10)
iris_sample.to_csv("iris_sample.csv", index=False)
print("\nSaved first 10 rows to 'iris_sample.csv'")

test = pd.read_csv("iris_sample.csv")
print("Verification", test.shape)

Saved first 10 rows to 'iris_sample.csv'
Verification (10, 6)

In [11]:
tips = df
# Column selection
print("Single column selection:")
print(tips['Species'].head()) # Display first 5 values of 'Species' column

Single column selection:
0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: str

In [12]:
print("\nMultiple column selection:")
print(tips[['SepalLengthCm', 'Species']].head()) # Display first 5 rows of selected columns

Multiple column selection:
   SepalLengthCm      Species
0            5.1  Iris-setosa
1            4.9  Iris-setosa
2            4.7  Iris-setosa
3            4.6  Iris-setosa
4            5.0  Iris-setosa

In [13]:
# Label-based indexing (.loc)
print("\nLabel-based selection (first row, Species column):")
print(tips.loc[0, 'Species'])

Label-based selection (first row, Species column):
Iris-setosa

In [14]:
print(tips.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
# Position-based indexing (.iloc)
print("\nPosition-based selection (first row, second column):")
print(tips.iloc[0, 2])

Position-based selection (first row, second column):
3.5

In [16]:
# Boolean indexing
print("\nBoolean indexing (rows where SepalLengthCm > 5.0):")
long_sepals = tips[tips['SepalLengthCm'] > 5.0]
print(long_sepals[['SepalLengthCm', 'Species']].head())

Boolean indexing (rows where SepalLengthCm > 5.0):
    SepalLengthCm      Species
0             5.1  Iris-setosa
5             5.4  Iris-setosa
10            5.4  Iris-setosa
14            5.8  Iris-setosa
15            5.7  Iris-setosa

In [17]:
# Combining selections
print("\nCombining selections (specific rows and columns):")
print(tips.loc[0:2, ['SepalLengthCm', 'SepalWidthCm', 'Species']])

Combining selections (specific rows and columns):
   SepalLengthCm  SepalWidthCm      Species
0            5.1           3.5  Iris-setosa
1            4.9           3.0  Iris-setosa
2            4.7           3.2  Iris-setosa

In [18]:
print("\nEquivalent selection using .iloc:")
print(tips.iloc[0:3, [1, 2, 5]])  # Rows 0 to 2, Columns 1, 2, 5

Equivalent selection using .iloc:
   SepalLengthCm  SepalWidthCm      Species
0            5.1           3.5  Iris-setosa
1            4.9           3.0  Iris-setosa
2            4.7           3.2  Iris-setosa